<style>
    body, html {
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: black;
    color: black;
    height: 100%;
  }
</style>

<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="navbar-brand">
        <a href="/">
          <img src="/images/title.png" alt="Logo" style="height: 75px;" class="mr-2">
        </a>
      </div>
      {{#if logged_in}}
      <a id="homepage" class="btn-link text-white font-weight-bold" href="/homepage">Homepage</a>
      <a id="dashboard" class="btn-link text-white font-weight-bold" href="/dashboard">Dashboard</a>
      <a id="logout" class="btn btn-primary">Logout</a>
      {{else}}
      <a id="login" class="btn-link text-white font-weight-bold" href="/login">Login</a>
      {{/if}}
    </div>
  </nav>
</header>
<main>
 
<!-- Update Post Form -->
<div id="update-post" class="row justify-content-center hidden">
  <div class="col-md-9">
    <div class="card mb-3">
      <header class="card-header">
        <h3>Edit Post</h3>
      </header>
      <div class="card-body">
        <form class="update-post-form" id="update-post-form" method="POST">
          <input id="post" type="hidden" value="{{post.id}}" />
          <div class="form-group">
            <label for="update-post-title">Title</label>
            <input type="text" class="form-control" id="update-post-title" name="new_post_title" value="{{post.title}}">
          </div>
          <div class="form-group">
            <label for="update-post-content">Content</label>
            <textarea class="form-control" id="update-post-content" name="new_post_content" rows="4" placeholder="Write your new post content here">{{post.body}}</textarea>
          </div>
          <button id="update-post-btn" class="btn btn-success btn-block" type="button">Update Post</button>
          <button id="delete-post-btn" class="btn btn-danger btn-block" type="button">Delete Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

  {{#if logged_in}}
  <script src="/js/posts.js"></script>
  {{/if}}
</main>
