<body>
      <div class="container-fluid splash-container">
        <h1 class="title">Byte Sized Tech Cache</h1>
        <p class="description">Your daily byte of tech!</p>
        <a class="btn btn-primary cta-button" href="/explore">Dive In</a> 
    </div>
</body>
  